h1 {
    color: rgb(232, 17, 17);
    background-color: blue;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 20px;
  }

  #second-heading {
    background-color: peru;
  }

  .third-heading {
    background-color: darkviolet;
  }

  #id-3 {
    background-color: aliceblue;
  }

  header {
    background-color: deeppink;
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  .parent-div{
      display: flex;
      align-items: center;
      height: 600px;
      background-color: tomato;
      justify-content: space-evenly;
  }

  .child-div{
      display: flex;
      background-color: wheat;
      width: 200px;
      height: 200px;
      margin: 20px;
      text-align: center;
      border: solid 20px whitesmoke;
      border-radius: 12px
  }